<div class="card border-success mb-3">
	<div class="card-header bg-transparent border-success">Hatem Slimi</div>
	<div class="card-body text-primary">
		<div class="text-center">
			<img src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo-shadow.png" class="img-fluid"
				alt="">
		</div>
		<p class="card-text">Success card title</p>
	</div>
</div>

<div class="card border-success mb-3">
	<div class="card-header bg-transparent border-success">Header</div>
	<div class="card-body text-success">
		<h5 class="card-title">Success card title</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
			content.</p>
	</div>
	<div class="card-footer bg-transparent border-success">Footer</div>
</div>